<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>CameraApp</string>
    <key>CFBundleIdentifier</key>
    <string>com.example.CameraApp</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UISupportedInterfaceOrientations</key>
    <array><string>UIInterfaceOrientationPortrait</string></array>
    <key>NSCameraUsageDescription</key>
    <string>Нужно для съёмки фото</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Чтобы сохранять снимки в Фото</string>
</dict>
</plist>
